<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/atom+xml" title="Miroslav Šedivý" href="/feed.xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2><a href="{{ "/" | absolute_url }}">Miroslav Šedivý</a></h2>
        <img src="https://github.com/eumiro.png?size=160" alt="Logo" />
        <p>
            <i class="fa fa-quote-right" style="width: 2em"></i>[<a href="https://forvo.com/search/miroslav/sk/">ˈmɪrɔslaʋ</a> <a href="https://forvo.com/search/%C5%A1ediv%C3%BD/sk/">ˈʃɛɟɪviː</a>]
            <br />
            <a href="https://www.openstreetmap.org/#map=7/49.0140/8.4044"><i class="fa fa-map" style="width: 2em"></i>Karlsruhe, DE</a>
            <br />
            <a href="https://twitter.com/eumiro"><i class="fa fa-twitter" style="width: 2em"></i>eumiro</a>
            <br />
            <a href="https://github.com/eumiro"><i class="fa fa-github" style="width: 2em"></i>eumiro</a>
            <br />
            <a href="/feed.xml"><i class="fa fa-rss" style="width: 2em"></i>RSS</a>
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
          <div>&copy; Copyright 2020 by Miroslav Šedivý</div>
          <hr />
          <div style="font-size: 60%; font-color: grey">
              Hosted on GitHub Pages &bull; Theme based on <i>minimal</i> by <a href="https://github.com/orderedlist">orderedlist</a>
          </div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
