<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/atom+xml" title="Miroslav Šedivý" href="/feed.xml">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2><a href="{{ "/" | absolute_url }}">Miroslav Šedivý</a></h2>
        <img src="https://github.com/eumiro.png?size=160" alt="Logo" />
        <p>
            [<a href="https://forvo.com/search/miroslav/sk/">ˈmɪrɔslaʋ</a> <a href="https://forvo.com/search/%C5%A1ediv%C3%BD/sk/">ˈʃɛɟɪviː</a>]
            <br />
            <a href="https://www.openstreetmap.org/#map=7/48.209/16.372">Wien, AT</a>
            <br />
            <a href="https://fosstodon.org/@eumiro" rel="me">@eumiro@fosstodon.org</a>
            <br />
            <a href="https://twitter.com/eumiro">twitter: @eumiro</a>
            <br />
            <a href="https://github.com/eumiro">github: eumiro</a>
            <br />
            <a href="/feed.xml">RSS</a>
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
          <div>&copy; 2020–2022 by Miroslav Šedivý</div>
          <hr />
          <div style="font-size: 60%; font-color: grey">
              Hosted on GitHub Pages &bull; Theme based on <i>minimal</i> by <a href="https://github.com/orderedlist">orderedlist</a>
          </div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
